[DEFAULT]
app = vdist
# All version tags, even bintray json descriptors, are automatically updated from next value.
version = 1.8.0
; This configurations only works for Travis builds.
source_directory = /home/travis/build/dante-signal31/${app}
; If you want to build locally uncomment next line and customify for your own case.
; source_directory = /home/dante/Projects/${app}
fpm_args = --maintainer dante.signal31@gmail.com -a native --url
    https://github.com/dante-signal31/${app} --description
    "vdist (Virtualenv Distribute) is a tool that lets you build OS packages
     from your Python applications, while aiming to build an
     isolated environment for your Python project by utilizing virtualenv. This
     means that your application will not depend on OS provided packages of
     Python modules, including their versions."
    --license MIT --category net
requirements_path = ./requirements.txt
compile_python = True
python_version = 3.6.5
output_folder = ./package_dist/
after_install = packaging/postinst.sh
after_remove = packaging/postuninst.sh

[Ubuntu-package]
profile = ubuntu-lts
runtime_deps = libssl1.0.0, docker-ce

[Centos7-package]
profile = centos7
runtime_deps = openssl, docker-ce
